@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
  text-align: center;
  font-size: 16px;
}

.image {
    width: auto;
    height: 50px;
}

a {
    /* remove the underline from links */
    text-decoration: none;
    color: black;
  }

.header {
    display: flex;
    margin-top: 32px;
    flex-direction: column;
    position: fixed;
    top: 10px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.menu{
    display: flex;
    gap: 10px;
    align-items: baseline;
    justify-content:space-evenly;
    width: 500px;
    margin: auto;
}

.menu-item {
    font-size: 14px;
    margin-top: 10px;
    position: relative;
}

.text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    background: white;
    align-self:center;
    transition: opacity .1s, visibility .1s;
}

.menu-item:hover .text {
    visibility: visible;
    opacity: 1;
  }

.title {
    font-size: 28px;
    font-weight: 400;
    justify-self:left;
}

.footer {
    font-size: 12px;
    position: fixed;
    bottom: 20px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.outcome {
    text-shadow: 0px 1px 2px rgb(197, 231, 197);
    font-weight: 900;
}

.place {
    text-shadow: 0px 1px 2px rgb(250, 212, 197);
}

.dissertation {
    text-shadow: 0px 1px 2px rgb(204, 229, 245);
}
.award {
    text-shadow: 0px 1px 2px rgb(249, 249, 130);
}

.main {
    width: 55%;
    text-align: justify;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 175px;
    flex-wrap: wrap;
}

.main .main-img {
    width: 150px;
}

.bio-pic {
    width: 150px;
    height: auto;
}

.blurb {
    flex: 1 1 220px;
    min-width: 220px;
    margin-left: 60px;
}

.cv {
    width: 55%;
    text-align: justify;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 175px;
}

.cv-menu {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.trad-cv-outer {
    margin-top: 10px;
    display:flex;
    justify-content: center;
    gap:25px;
}

.trad-cv-section {
    width: 150px;
}

.trad-cv-details > ul {
    list-style-type:none;
    width: 400px;
}

.name {
    font-size: 16px;
    margin-bottom: 5px;
}

.name:hover span {
    display:none;
}

.name:hover:before {
    content: "Home";
}

.about-detailed {
    width: 300px;
    height: auto;
    display: flex;
    flex-shrink: 1;
}

.cv-pic {
    width: 350px;
    height: auto;
    margin-right: 50px;
}

.main > .cv > p {
    margin: 0;
    padding: 0;
}

.main > div > ol > li > span {
    font-weight: 900;  
}

.nature {
    color: rgb(209, 97, 41);
}

.math {
    color: #B8001F;
}

.music {
    color: #0259B6;
}

.community {
    color: #478716;
}

.creativity {
    color: #a200a2;
}

.education {
    color: #199381;
}