@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
  text-align: center;
}

.image {
    width: 40px;
    height: auto;
}

a {
    /* remove the underline from links */
    text-decoration: none;
    color: black;
  }

.header {
    display: flex;
    margin: 32px;
    align-items: baseline;
    justify-content: center;
}

.menu{
    display: flex;
    gap: 10px;
}

.menu-item {
    font-size: 14px;
    margin: 10px;
    position: relative;
}

.text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    background: white;
    align-self:center;
    transition: opacity .1s, visibility .1s;
}

.menu-item:hover .text {
    visibility: visible;
    opacity: 1;
  }

.title {
    font-size: 28px;
    font-weight: 400;
    justify-self:left;
}

.main {
    font-size: 12px;
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
}